/* Schedules Container */



/* Scrollbar Styling */
.scrollable-list::-webkit-scrollbar {
  width: 6px;
}

.scrollable-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background: #3498db;
  border-radius: 3px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background: #2980b9;
}

/* Collapsed State */
.scrollable-list.collapsed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}


/* Staff list */
.staff-list {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.staff-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-bottom: 1px solid #eaeaea;
}

.staff-item:last-child {
  border-bottom: none;
}

.staff-name {
  font-weight: 600;
}

.staff-btn {
  padding: 6px 12px;
  font-size: 14px;
}

.card {
  border-left: 6px solid #0ab39c !important;
}

.card.orange {
  border-left: 6px solid #ffab00 !important;
}

