/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.color{
    color: #4682B4;
    color: #E0EFFF;
    color: #F0F8FF;
    color: #777777;
}

/* SideBar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #222;
  transition: 0.3s;
  background-color: #E0EFFF;
  border-right: #777777 1px solid;
  z-index: 900;
}
/* Active Section Sidebar */

.active{
background-color: #4682B4;
}
.sidebar.show {
  left: 0;
}

.sidebar .current-user {
  background-color: #4682B4;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
}

.sidebar .current-user .user-info .user-icon{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #E0EFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar .current-user .user-info .user-icon img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.sidebar ul li{
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #777777;
  transition: all 0.3s ease-in-out;
}
.sidebar ul li a{
  color: #333;
  display: block;
  text-decoration: none;
  padding: 15px 0;
  width: 100%;
}
.sidebar ul li:hover{
  background-color: #4682B4;
}

/* Top Navbar */
.navbar {
  background-color: #4682B4;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 10%;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}
/* Table Styles */

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  text-align: center;
  padding: 10px;
}

th {
  background: #4a86c5;
  color: white;
}

tr:nth-child(even) {
  background: #f2f8ff;
}

tr {
  cursor: pointer;
  transition: all 0.3s ease;
}
tr:hover {
  background-color: #E0EFFF;
}



/* Close Button */
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 35px;
  padding: 2px 8px;
  cursor: pointer;
  color: black;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.close-button:hover {
  background-color: red;
}

/* Overlay for Backround Clicking BLock*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* dim background */
  display: none;
  z-index: 1000; /* sits behind modals */
}

.overlay.show {
  display: block;
}

.edit-btn{
 padding: 2px 8px;
 background-color: #4682B4;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}