:root {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --accent-color: #198754;
  --light-bg: #f8f9fa;
}

body {
  background-color: var(--light-bg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/kcp-bldg-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(10, 88, 202,0.5);
}
